<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <header>
        <div class="conteiner">
            <div class="row">
                <div class="col-10">
                    <h1>Tracking</h1>
                </div>
                <div class="col">
                    <form action="{%url 'logout'%}" method="post">
                        {%csrf_token%}
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
    <hr>
    {%block content%}
    {%endblock%}
    <hr>
    <footer>
        <div id="projects">
            {%for project in projects%}
                <div class="project"><a href="">{{project_name}}</a></div>
            {%endfor%}
        </div>
        <p>Andrusik Markiyan <br>
        2024</p>

        <div class="scroll">
            <a href="{%url 'login'%}">Login</a>
            <a href="">Register</a>
            
        </div>
    </footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>