
{%extends 'tracking/base.html'%}
{%block content%}
    <h1>{{project.name}}</h1>
    <div class="">
        {%for column in columns%}
            <div class="container width-10 border m-10">
                <h3>{{column.name}}</h3>
                {%for task in column.tasks.all%}
                    <div class="container m-3 p-1">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">{{task.name}}</button>
                        <div class="modal fade" id="modal" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">{{task.name}}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    <span>&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    {{task.text}}
                                </div>
                                <div class="modal-footer">
                                    ...
                                </div>
                              </div>
                            </div>
                          </div>
                        
                        <div class="bg-primary text-white">
                            <h6>{{task.status}}</h6>
                        </div>
                        
                    </div>
                
                {%endfor%}
                
            </div>
        {%endfor%}
    </div>
{%endblock%}