{% extends 'tracking/base.html'%}

{% block content %}
    <div class="container">
        <div class="row bg-success text-white rounded p-3">
            <h1>{{task.name}}</h1>
        </div>
        <div class="row">
            
            <div class="col-6 align-center">
                <h3>Description</h3>
                <p>{{task.text}}</p>
            </div>
           
            <div class="col p-4">
                {{task.status}}
            </div>
            <div class="col p-2">
                <form action="{%url 'complete_task' task.pk%}" method="post">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-outline-success ">Task complete</button>
                </form>

            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'task_update' task.id %}"><button class="btn btn-warning">Update task</button></a>
            </div>
            <div class="col">
                <a href="{% url 'task_delete' task.id %}"><button class="btn btn-danger">Delete task</button></a>
            </div>
        </div>

    
    <!--Comments-->
    
        <div class="row m-3">
            <h1>Comments</h1>
        </div>
        {%for comment in comments%}
            <div class="row m-3">
                
                <div class="col">
                    <h4>{{comment.owner}}</h4>
                </div>
                
            </div>
            <div class="row bg-info rounded text-white">
                <div class="col-8 ">
                    <p>{{comment.text}}</p>
                </div>
                <div class="col">
                    {{comment.post_date}}
                </div>
            </div>
            <div class="row">
                <div class="col-11 my-2">
                    <a href="{% url 'update_comment' comment.id %}"><button type="submit" class="btn btn-warning">Update</button></a>
                </div>
                <div class="col my-2">
                    <a href="{% url 'delete_comment' comment.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        {%endfor%}
        <div class="row my-3">
            <form method="post" >
                {%csrf_token%}
                {{comment_form.as_p}}
                <button type="submit" class="btn btn-secondary ">Post</button>
            </form>
        </div>
       
    </div>
{%endblock%}