{% extends 'un_base.html'%}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{task.name}}</h1>
        </div>
        <div class="row">
            
            <div class="col-9 rounded bg-primary text-white">
                <h3>Description</h3>
                <p>{{task.text}}</p>
            </div>
           
            <div class="col">
                {{task.status}}
            </div>
            <div class="col">
                <form action="{%url 'complete_task' task.pk%}" method="post">
                    {%csrf_token%}
                    <button type="submit">Task complete</button>
                </form>

            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'task_update' task.id %}"><button>Update task</button></a>
            </div>
            <div class="col">
                <a href="{% url 'task_delete' task.id %}"><button>Delete task</button></a>
            </div>
        </div>

    </div>
    <!--Comments-->
    <div class="container ">
        {%for comment in comments%}
            <div class="row m-3">
                <div class="col">
                    <h4>{{comment.owner}}</h4>
                </div>
                
            </div>
            <div class="row bg-primary text-white">
                <div class="col-8 ">
                    <p>{{comment.text}}</p>
                </div>
                <div class="col">
                    {{comment.post_date}}
                </div>
            </div>
            <div class="row">
                <a href="{% url 'update_comment' comment.id %}"><button type="submit">Update</button></a>
                <a href="{% url 'delete_comment' comment.id %}"><button type="submit">Delete</button></a>
            </div>
        {%endfor%}
    </div>
    <form method="post">
        {%csrf_token%}
        {{comment_form.as_p}}
        <button type="submit">Post</button>
    </form>
 
{%endblock%}